*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#53B3CB;
    text-align: center;
}
.container{
    height: 70vh;
    display:flex;
    /* flex-wrap:wrap; */
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem #0C090D;
    font-size: 8vmin;
    color: #F15946;
    background-color: #F9C22E;
}

#reset-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #E01A4F;
    color:#F9C22E;
    /* border:none ; */
    border-radius: 1rem;
    font-weight: 500;
}

#new-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #E01A4F;
    color:#F9C22E;
    /* border:none ; */
    border-radius: 1rem;
    font-weight: 500;
    border:none;
}

#msg{
    color:#F9C22E;
    font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide{
    display:none;
}